* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #121212;
  color: hsl(0, 0%, 87%);
}

/* NAV */
nav {
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100vw;
  min-width: 375px;
  height: 5vh;
  line-height: 5vh;
  background-color: hsl(0, 0%, 14%);
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

li {
  text-decoration: none;
  font-weight: bold;
  color: #eee;
  font-size: 1.25rem;
}

li:hover {
  color: rgb(209, 209, 209);
}

/* CARDS */

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  min-width: 800px;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #eee;
  width: 250px;
  height: auto;
  padding: 2rem;
  border-radius: 2.5%;
  background-color: hsl(0, 0%, 9%);
  color: hsl(0, 0%, 87%);
  flex-basis: 1;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 1);
  animation: max-height 1s ease-out;
}

.card h1 {
  font-size: 1.75rem;
}

.card img {
  width: 100%;
  border-radius: 2.5%;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

.card:hover .desc {
  max-height: 1250px;
  transition: max-height 1s ease-in-out;
}

.desc {
  overflow: hidden;
  max-height: 0;
  transition: max-height 1.33s ease-in-out;
  margin-top: 1rem;
  opacity: 60%;
}

/* SEARCH */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  max-width: 375px;
  justify-content: center;
  padding: 1rem;
}

.input {
  padding: 0.5rem;
  font-size: 1.25rem;
  border: none;
  width: auto;
  background-color: hsl(0, 0%, 10%);
  color: rgb(209, 209, 209);
}

.search input {
  transition: all 0.25s ease-out;
}

.search input {
  width: 5em;
  height: 3em;
}

.search,
.search input:focus,
.search input:valid {
  width: 100%;
}

/*ABOUT */

.about {
  display: flex;
  max-width: 1176px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about h1 {
  font-size: 4rem;
  margin: 1.5rem;
}

.aboutDesc {
  margin: 2rem;
}

/* MOBILE */

@media (max-width: 768px) {
  * {
    font-family: '-apple-system', 'HelveticaNeue', sans-serif;
  }
  .card-container {
    flex-direction: column;
    min-width: 375px;
    align-items: center;
  }

  h1 {
    font-size: 16px;
  }
  .card img {
    width: 100%;
  }
  .card {
    display: flex;
    width: 375px;
    flex-direction: column;
    height: auto;
  }
}
