* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* NAV */
nav {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100vw;
  min-width: 375px;
  height: 5vh;
  line-height: 5vh;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
}

li {
  text-decoration: none;
}

img {
  top: 50%;
  width: 100%;
  max-width: 375px;
  height: auto;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #eee;
  width: 375px;
  height: 500px;
  margin: 0 auto;
  padding: 2rem;
}

.info {
  margin-left: 5px;
}

.desc {
  margin-top: 1rem;
}
@media (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }

  h1 {
    font-size: 16px;
  }

  .img {
    width: 25%;
    height: auto;
  }
  .card {
    display: flex;
    height: auto;
  }
}
